* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    width: 600px;
    height: 400px;
    background-color: skyblue;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form h1 {
    font-size: 48px;
    margin-bottom: 50px;
}
form label {
    width: 300px;
    font-size: 24px;
    margin-bottom: 5px;
}
form input {
    width: 300px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}
form input::placeholder {
    padding-left: 5px;
}
.submit {
    display: flex;
    gap: 40px;
}
.submit input {
    margin-top: 30px;
    width: 100px;
    font-size: 16px;
}