* {
    margin: 0;
    padding: 0;
}
header h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav {
    background-color: black;
    padding-left: 25px;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 25px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: red;
}