h1 {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}