* {
    margin: 0;
}

header {
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-image: url(https://upgradedpoints.com/wp-content/uploads/2018/08/New-York-City.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

h1 {
    padding-left: 10px;
    padding-top: 10px;
}

p {
    margin: 20px 10px;
}

.third {
    text-align: justify;
}

ul li {
    padding-bottom: 10px;
}

.name {
    color: red;
}

div {
    text-align: justify;
    margin-left: 20px;
}

input {
    margin-bottom: 10px;
}

input[type="password"] {
    color: red;
}

.fiz {
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}