h1 {
    text-align: center;
}

p {
    text-align: justify;
    border: 1px solid black;
    padding: 10px;
}

.magnam, .velit, .eligendi {
    color: red;
    font-weight: bold;
    /* display: none; */
    /* visibility: hidden; */
    /* display: block; */
}